<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passionatecrew.nopainnogain"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_muscu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/titre1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EntrainementActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_entrainement" >
        </activity>
        <activity
            android:name=".PauseActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_pause" >
        </activity>
        <activity
            android:name=".AproposActivity"
            android:label="@string/title_activity_apropos"
            android:theme = "@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="SeanceActivity"
            android:label="@string/title_activity_seance"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="SeancesExistantesActivity"
            android:label="@string/title_activity_seances_existantes" >
        </activity>
    </application>

</manifest>
